body,
ul,
li,
p {

    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
}

a {
    text-decoration: none;
    color: white;

}

.cabecalho {

    display: flex;
    width: 100;
    background: linear-gradient(90deg, rgba(248, 252, 252, 1) 22%, rgba(244, 231, 79, 1) 80%, rgba(236, 245, 15, 1) 100%);
    padding: 2px;
    justify-content: space-between;
    align-items: center;

}

.logo {
    display: flex;
    padding: 0%;
    margin-left: 1%;


}

.menu {
    display: flex;
    margin-right: 7vw;

}

.menu li {
    margin-left: 10px;

}

.menu li a {
    display: inline-block;
    padding: 25px;
    color: white;
    background-color: orange;
    border: 1px solid;
    border-radius: 5pt;
    border-color: orange;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
    border-radius: 30px 15px;

}

.menu li a:hover {

    border: 3px solid white;
}

.principal {
    display: flex;
    width: auto;
    background-color: #e4e1c5d8;
    padding: 30px;
    border-radius: 10px;
}

span {
    display: block;
    margin-bottom: 3px;
}



.lista-principal {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: chocolate;
    background-color: rgba(248, 248, 3, 0.39);
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    border-style: dashed;
    border-color: orange;
}

h1 {
    display: block;
    margin: 0;
    padding-bottom: 10px;
}

.rodape p {
    display: flex;
    width: 100vw;
    height: 8vh;
    justify-content: center;
    color: #f8a100;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;

}

.box-fotos {
    display: flex;
    width: 0 auto;
    flex-wrap: wrap;
    justify-content: center;

}

.pet {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 1%;

}

.pet img {
    height: 200px;
    width: 200px;
    border-radius: 200px;
}

.pet img:hover {
    border: 3px solid chocolate;
}

.pet p {
    text-align: center;
    margin-top: 1%;
    font-family: Arial, Helvetica, sans-serif;
    color: chocolate;
    font-weight: bold;

}

.pet:hover {
    text-decoration: underline chocolate;
}

.rodape {
    display: flex;
    height: 50%;
    max-width: 100vw;
    background: linear-gradient(90deg, rgba(248, 252, 252, 1) 22%, rgba(244, 231, 79, 1) 80%, rgba(236, 245, 15, 1) 100%);
}

@media (max-width: 700px) {

    .cabecalho {
        width: 100vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .menu {
        width: 90vw;
        ;
        display: flex;
        justify-content: center;
    }

    .logo {
        margin-left: 5%;
    }



    .menu li a {
        display: inline-block;
        font-size: 1rem;
        padding: 5px;
        color: white;
        background-color: orange;
        border: 1px solid;
        border-radius: 5pt;
        border-color: orange;
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: solid;
        border-radius: 30px 15px;
    }

    .principal {
        display: flex;
        flex-wrap: wrap;
        width: auto;
        background-color: #e4e1c5d8;
        padding: 30px;
        border-radius: 10px;
    }

    .rodape {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        height: 50%;
        max-width: 100vw;
        background: linear-gradient(90deg, rgba(248, 252, 252, 1) 22%, rgba(244, 231, 79, 1) 80%, rgba(236, 245, 15, 1) 100%);
    }

}